 <div style='border: 1px dotted blue'>
   <form action='/named-cat'>
     <input type='text' name='name'>
     <input type='text' name='age'>
     <input type='submit' value='Submit'>
   </form>
  </div>
